.main-wrapper {
  max-width: 1024px;
  margin: 80px auto 100px;
  padding: 0 10px;
}
.main-wrapper .en-title {
  padding-top: 100px;
}
.main-wrapper .title {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  border-bottom: 1.5px solid #ffdec1;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.main-wrapper .page-body {
  margin-top: 40px;
  padding: 0 20px;
}
.main-wrapper .page-body h2,
.main-wrapper .page-body h3 {
  font-weight: 500;
  margin-top: 30px;
}
.main-wrapper .page-body p,
.main-wrapper .page-body span {
  line-height: 1.6;
  margin-bottom: 10px;
}
